<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RestFul Controllers</title>
    <link asp-href-include=""
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
